<hr />
<div class="container-fluid">
  <div class="form-group" [formGroup]="favoriteColorControl">
    <ng-container
      formArrayName="color"
      *ngFor="let data of color.controls; let i = index"
    >
      <h4>Favorite Color {{ i + 1 }}:</h4>
      <input
        type="text"
        class="form-control mb-2"
        formControlName="color"
        [formControlName]="i"
        id="data-{{ i }}"
      />
    </ng-container>
    <button class="btn btn-primary" (click)="addColorItem()">Add Color</button>
  </div>
  <div class="form-group" [formGroup]="favoriteColorControl">
    <div formArrayName="address">
      <ng-container
        *ngFor="let data of address.controls; let i = index"
        [formGroupName]="i"
      >
        <h4>Address {{ i + 1 }}</h4>
        <label>Street:</label>
        <input
          type="text"
          name="street"
          formControlName="street"
          class="form-control mb-2"
        />
        <label>State:</label>
        <input
          type="text"
          name="state"
          formControlName="state"
          class="form-control mb-2"
        />
      </ng-container>
    </div>
    <button class="btn btn-info" (click)="addAddressItem()">Add Address</button>
  </div>
</div>
